# Copyright (c) 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
innodb_buffer_pool_size = 4M
skip-name-resolve
#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock
#user=mysql

#log-error=/var/log/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid

#read_only = ON
skip-slave-start

log_bin                                 = /var/lib/mysql/mysql-bin
max_binlog_size                         = 1M
expire_logs_days                        = 2
binlog_format                           = statement
binlog_row_image                        = minimal
log_slave_updates                       = 1
gtid_mode                               = OFF
enforce_gtid_consistency                = ON

auto_increment_increment                = 64
auto_increment_offset                   = 2
