[mysqld]
innodb_buffer_pool_size = 4M
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

read_only = ON
skip-slave-start

log_bin                                 = /var/lib/mysql/mysql-bin
max_binlog_size                         = 1M
expire_logs_days                        = 2
binlog_format                           = statement
binlog_row_image                        = minimal
log_slave_updates                       = 1
gtid_mode                               = OFF
enforce_gtid_consistency                = ON

auto_increment_increment                = 64
auto_increment_offset                   = 2
